:root {
	background-color:rgb(135,206,235);
}
body {
	padding:0px;
	margin:0;
}
article p:first-child{
	color:white;
	background-color:black;
	margin-top:0;
	padding:0;
	
}
article p:nth-child(2) {
	/* no changes need */
}
article p:last-child{
	color:white;
}
ul li {
	background-color:gray;
	width:50px;
	padding:10px;
}
ul li:nth-child(odd) {
	background-color:white;
}
ul li:first-child,ul li:last-child{
	font-size:22px;
}
ul li:nth-last-child(3) {
	background-color:pink;
}